@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-card {
  animation: fadeUp 0.8s ease forwards;
}

@media (max-width: 768px) {

  .header {
    padding: 20px 15px;   /* reduce side spacing */
  }

  .products {
    padding: 20px 10px;
  }

  .product-card {
    width: 100%;
    padding: 18px;
    border-radius: 30px;
  }

  .product-card img {
    width: 100px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background: linear-gradient(90deg, #eef2ea, #fff2dc);
}

/* HEADER */
.header {
  padding: 30px 60px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo-img {
  width: 30px;
  margin-right: 8px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu i {
  font-size: 18px;
  padding: 8px;
  border-radius: 50%;
  transition: 0.3s ease;
  cursor: pointer;
}

.menu i:hover {
  color: #f4a261;
  box-shadow: 0 0 15px #f4a261,
              0 0 30px #f4a261;
  transform: scale(1.2);
}


/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  gap: 40px;
}

.hero-text {
  text-align: center;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text p {
  margin-top: 15px;
}

/* PET IMAGES */
.pet {
  width: 180px;
  height: auto;
}

/* SHOP */
.shop-cards {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  justify-content: center;
}

.shop {
  padding: 14px 35px;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}

.shop.dog {
  background: #f4a261;
}

.shop.cat {
  background: #8ecae6;
}

/* PRODUCTS */
.products {
  padding: 50px 20px;
}

.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 700px;
  margin: 40px auto;
  padding: 30px 40px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border-radius: 70px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

  transition: 0.4s ease;
}

.product-card:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}


.product-card img {
  width: 140px;
}

.product-card button {
  margin-top: 10px;
  padding: 8px 22px;
  border-radius: 25px;
  border: 1px solid #999;
  background: transparent;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .pet {
    width: 130px;
  }

  .shop-cards {
    flex-direction: column;
    gap: 15px;
  }

  .product-card {
    flex-direction: column;
    text-align: center;
  }

  .product-card img {
    margin-top: 15px;
  }
